{% extends 'base.html.twig' %}

{% block title %}{{ category.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    {% if category.description is not empty %}
        <p>{{ category.description }}</p>
    {% endif %}

    <h2>Derniers articles dans cette catégorie</h2>
    {% include 'article/_list.html.twig' %}

{% endblock %}
